/* Header Styling */
*{
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    display: flex;
    background-color: #0F1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;

    
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.logo{   
    height: 60px;
     width: 130px;
     display: flex;
     align-items: center;
}
.logo img{
    height: 50px;
    width: 128px;
}   
.delivery{
    display: block;
    display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;

}
.location{
    line-height: 2px;
    display: flex;
    align-items: center;
}
.delivery{
    position: absolute;
    top:10px;
    font-size: 13px;
    margin-left: 17px;
    
    
}
.second-line{
    display: flex;  
    align-items: center;
}
 .country{
 font-weight: 900%;
 margin-left: 5px;
 font-size: 16px;
 
} 
.search-bar input{
    height: 40px;
    width: 400px;
    border-top-left-radius: 9%;
    border-bottom-left-radius: 9%;
    font-size:16px;
}
.search-bar i{
   background-color: rgb(255, 196, 0);
   color: black;
   position: absolute;
   border-top-right-radius: 9%;
   border-bottom-right-radius: 9%;
   padding: 12px;  
}

.user span{
    font-size: 13px;
}

.user{
    line-height: 2px;
}
.returns span{
    font-size: 13px;
}
.returns{
    line-height: 2px;
}
.cart{

padding-top: 8px;

}
 /* Main Styling */
 .hero-image{
    height: 300px; 
    background-image: url("Samsung_PC_Hero_3000x1200._CB559905025_.jpg");
    background-size: cover;
 }
 .box-layout{
    height: 320px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: rgb(240, 234, 234);
 }
 .box1{
    width: 400px;
    font-size: larger;
    font-weight: 600;  
 }
 .image1{
    height: 300px;
    width: 300px    ;
    background-image: url("41cXb+2haJL._MCnd_AC_.jpg");
    background-size: cover;
 }
 .box2{
    width: 400px;
    font-size: larger;
    font-weight: 600;  
 }
 .image2{
    height: 300px;
    width: 300px    ;
    background-image: url("PC_379x304._SY304_CB557896466_.jpg");
    background-size: cover;
 }
 .box3{
    width: 400px;
    font-size: larger;
    font-weight: 600; 
 }
 .image3{
    height: 278px;
    width: 300px    ;
    background-image: url("PC_CC_758x6080.5x1._SY304_CB557940328_.jpg");
    background-size: cover;
 }
 .box4{
    width: 400px;
    font-size: larger;
    font-weight: 600;  
 }
 .image4{
    height: 300px;
    width: 300px    ;
    background-image: url("MixerGrinder_379_304._SY304_CB558086743_.jpg");
    background-size: cover;
 }
 /* Footer Styling */
 
 .footer{
    background-color:#203543 ;
 }
 .back-top{
    margin-top: 10px;;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203543;
    color: #FFFFFF;
 }
 .footlogo{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203543;
 }
 .copyright-deatils{
    padding-top: 50px;
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #203543;  
    padding-bottom: 8px;
 }
 .copyright-deatils a{
text-decoration: none;
 color: white;
 }
 .copyright{
    padding-top: 8px;
    padding-bottom: 8px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #101b22;  
    align-items: center;
 }